:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-card: #ffffff;
  --color-border: #121212;
  --color-text: #000000;
  --radius-lg: 2px;
  
  --font-size: 16px;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: var(--font-size);
  background-color: var(--color-white);
  color: var(--color-text);
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

ul, li {
  list-style: none;
}